<% if therapist_signed_in? %>

<h3>You have successfully signed in, <%= current_therapist.email %></h3>
<h4>Your patients:</h4>
<% if !@patients.blank? %>
   <% @therapist.patients.each do |patient| %>
     <%= link_to patient.firstName + " " + patient.lastName, therapist_patient_path(@therapist, patient) %> <br /> 
   <% end %>
<% else %>
     No patients! <br />
<% end %>

<h4>Available recordings: </h4>
<%= retrieveAllPatients %>
 
<%= link_to "Add New Patient", new_therapist_patient_path(current_therapist, @patient) %>
<%= link_to "Sign Out", destroy_therapist_session_path, :method => :delete %>

<% else %>

<h1> Welcome to Expresso</h1>
<%= link_to "Sign In", new_therapist_session_path, :method => :get %>
<%= link_to "Sign Up", new_therapist_registration_path, :method => :get %>

<% end %>

